{% extends 'base.html' %}

{% block content %}
  <h1>Publicaciones</h1>

  <form method="GET" action="{% url 'lista_publicaciones' %}">
    <select name="autor">
      <option value="">Todos los autores</option>
      {% for autor in autores %}
        <option value="{{ autor.id }}">{{ autor.username }}</option>
      {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
  </form>

  <ul>
    {% for publicacion in object_list %}
      <li>
        <h2>{{ publicacion.titulo }}</h2>
        <p>Publicado el {{ publicacion.fecha|date:"d M Y H:i" }}</p>
        {% if publicacion.autor %}
          <p>Publicado por {{ publicacion.autor }}</p>
        {% endif %}
        <a href="{% url 'detalle_publicacion' publicacion.pk %}">Ver Detalle</a>
      </li>
    {% empty %}
      <li>No hay publicaciones disponibles.</li>
    {% endfor %}
  </ul>
{% endblock %}
